* {margin:0;padding:0;}

.container,.left,.right,.middle {
    height:50px;
}

.container {
    background-color: #c00;
    margin-top:20px;
    display:flex;
}

.left {
    background-color:#09e;
}

.middle {
    background-color:#444;
}

.right {
    background-color:pink;
}

.left-1 {
    flex:3;
}

.right-1 {
    flex:7;
}

.left-2,.right-3 {
    width:200px;
}

.right-2,.left-3 {
    flex:1;
}

.container-4,.container-5 {
    min-width:600px;
}

.left-4 {
    width:200px;
}

.middle-4 {
    flex:1;
}

.right-4 {
    width:200px;
}

.left-5 {
    width:200px;
}

.middle-5 {
    width:200px;
}

.right-5 {
    flex:1;
}